@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes stutter {
  0%, 15% { opacity: 0.3; }
  20%, 35% { opacity: 0; }
  40%, 55% { opacity: 0.3; }
  60%, 75% { opacity: 0; }
  80%, 100% { opacity: 0.3; }
}

.animate-stutter {
  animation: stutter 1s infinite;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}